<% if @category.present?
		category_name = @category.name
	end  
%>
<% provide(:title, "Edit Course #{category_name}") %>

	<header>
		<h1>Edit Course <%= "#{category_name}" %> </h1>
	</header>
	<%= render partial: "rendered/form_course", locals: {course: @course} %>
	<%= link_to 'Back', courses_path %>